In [2]:
from sklearn.ensemble  import RandomForestClassifier
from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler

import warnings
import pandas as pd 
import numpy as np
from sqlalchemy import create_engine

warnings.filterwarnings("ignore")
np.random.seed(7)

In [3]:
#Read Data From MySQL
conn = create_engine('mysql+mysqlconnector://root:root@localhost/research_data')
query = "select * from sptsx_data"
data_extract = pd.read_sql(query,conn)
data_extract.head()

,index,gvkey,conm,tic,iid,from,thru,datadate,ajexdi,curcdd,prcod,prccd,prchd,prcld
0,0,001186,AGNICO EAGLE MINES LTD,AEM.,01C,1982-01-01,None,2010-06-01,1.0,CAD,62.47,61.18,62.85,60.91
1,1,001186,AGNICO EAGLE MINES LTD,AEM.,01C,1982-01-01,None,2010-05-17,1.0,CAD,66.24,64.90,66.38,64.79
2,2,001186,AGNICO EAGLE MINES LTD,AEM.,01C,1982-01-01,None,2010-05-18,1.0,CAD,64.00,64.75,65.25,63.49
3,3,001186,AGNICO EAGLE MINES LTD,AEM.,01C,1982-01-01,None,2010-05-19,1.0,CAD,64.26,61.90,64.39,61.27
4,4,001186,AGNICO EAGLE MINES LTD,AEM.,01C,1982-01-01,None,2010-05-20,1.0,CAD,61.64,60.83,62.95,60.15

In [4]:
#Turn into Time Series 
tickers = pd.read_csv('..\Data\TSX_Constituents_05202019.csv')
tickers = list(tickers.Symbol)
symbol_list = []

for ticker in tickers:
    test2 = str(ticker).endswith('.UN')
    test3 = str(ticker).endswith('.X')
    test4 = str(ticker).endswith('.B')
    test5 = str(ticker).endswith('.A')
    if not test2 and not test3 and not test4 and not test5:
        ticker = str(ticker) + '.'
    symbol_list.append(ticker)

data_extract = data_extract[data_extract['tic'].isin(symbol_list)]
data_extract = data_extract.pivot(index='datadate', columns='tic', values='prccd')
data_extract.head()

tic,ABX.,AC.,ACB.,ACO.X,AD.,AEM.,AFN.,AGI.,AIF.,ALA.,...,WFT.,WJA.,WN.,WPK.,WPM.,WSP.,WTE.,X.,YRI.,ZZZ.
datadate,,,,,,,,,,,,,,,,,,,,,
2010-05-17,45.87,1.98,NaN,48.33,9.28,64.90,34.39,8.02,13.18,17.24,...,42.61,13.20,73.97,9.42,21.40,26.62,16.09,NaN,11.50,NaN
2010-05-18,46.10,1.92,NaN,47.94,9.24,64.75,34.15,8.05,13.74,17.11,...,41.73,12.97,73.03,9.42,21.09,26.51,15.92,NaN,11.52,NaN
2010-05-19,44.46,1.72,NaN,48.08,9.03,61.90,35.18,7.29,13.21,17.23,...,41.25,12.57,71.86,9.68,19.84,26.21,15.04,NaN,11.10,NaN
2010-05-20,43.83,1.56,NaN,47.05,9.05,60.83,34.88,7.34,12.58,16.52,...,39.74,12.12,72.69,9.68,19.01,25.75,15.32,NaN,10.82,NaN
2010-05-21,43.38,1.70,NaN,47.88,9.10,60.09,35.20,7.27,12.55,16.76,...,40.29,12.39,72.21,9.01,18.90,26.40,15.96,NaN,10.61,NaN

In [5]:
train_size = 0.80

In [6]:
dataset = data_extract.copy(deep=True)
dataset.index = pd.to_datetime(dataset.index)
dataset = dataset.dropna(axis='columns')

stock_list = dataset.columns

dataset = dataset.pct_change()
dataset = dataset[1:]
dataset['mean'] = dataset.mean(axis=1)
for c in dataset.columns:
    dataset[c + '_out'] = np.where(dataset[c] >= dataset['mean'], 0, 1)
    dataset[c] = (dataset[c] - dataset[c][:int(len(dataset) * train_size)].mean())/dataset[c][:int(len(dataset) * train_size)].std()
    
trainset = dataset[:int(len(dataset) * train_size)]
testset = dataset[int(len(dataset) * (train_size)):]

In [7]:
step = 1
look_back = 240

X_s = np.empty((0, look_back, step))
y_s = np.empty(0)

for stock in stock_list:
    timeseries = np.asarray(trainset[stock])
    timeseries = np.atleast_2d(timeseries)
    if timeseries.shape[0] == 1:
        timeseries = timeseries.T

    X = np.atleast_3d(np.array([timeseries[start:start + look_back] for start in range(0, timeseries.shape[0] - look_back)]))

    y_series = np.asarray(trainset[stock + '_out'])
    y = y_series[look_back:]
    #y = np_utils.to_categorical(y)
    X_s = np.append(X_s, X, axis=0)
    y_s = np.append(y_s, y, axis=0)

In [10]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2,random_state=0)
clf.fit(X_s[:,:,0], y_s)  
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [11]:
print(clf.feature_importances_)

[0.         0.00389697 0.00282526 0.00420993 0.         0.
 0.00525707 0.01535284 0.         0.00170341 0.01179535 0.
 0.         0.         0.         0.00177183 0.02308751 0.
 0.         0.         0.02220301 0.         0.         0.00278565
 0.         0.00706364 0.         0.00495103 0.00233627 0.03585606
 0.00445999 0.         0.         0.         0.00293119 0.0018089
 0.00351464 0.00258396 0.         0.00312297 0.02624348 0.0131534
 0.00348912 0.00286508 0.         0.00383299 0.00311918 0.
 0.         0.00250978 0.01410709 0.0036152  0.         0.01183443
 0.         0.         0.         0.         0.00240951 0.
 0.00900626 0.00716769 0.         0.03665354 0.01124014 0.01165881
 0.         0.         0.         0.01196577 0.00342597 0.
 0.00318671 0.0079172  0.00294812 0.         0.         0.00277429
 0.         0.         0.         0.         0.0012058  0.
 0.         0.00678405 0.         0.00465019 0.00830596 0.
 0.00228113 0.         0.         0.         0.00177618 0.
 0.01086296 0.00271246 0.00303949 0.         0.00770113 0.
 0.00231611 0.         0.01725906 0.00474079 0.         0.
 0.00134631 0.         0.         0.00316342 0.0055895  0.00332378
 0.         0.         0.01384045 0.01789867 0.         0.00429121
 0.         0.         0.         0.         0.00119243 0.
 0.         0.         0.         0.01873822 0.0015017  0.00325332
 0.00558829 0.02695907 0.02172639 0.         0.         0.
 0.00745113 0.00639212 0.         0.00237177 0.         0.00610361
 0.00217367 0.         0.01244867 0.         0.00991569 0.
 0.         0.00931837 0.         0.         0.         0.00716577
 0.         0.         0.         0.         0.00258399 0.00319199
 0.00829307 0.00470062 0.00428529 0.00321022 0.         0.
 0.00225243 0.00604038 0.01243451 0.         0.00345626 0.00078395
 0.         0.         0.00283321 0.         0.0101763  0.01215563
 0.         0.00502261 0.00307766 0.         0.         0.
 0.         0.         0.001823   0.         0.         0.00672031
 0.         0.00923785 0.0348718  0.         0.02911087 0.
 0.00292627 0.         0.         0.00286028 0.00630907 0.
 0.         0.         0.01912585 0.00256664 0.         0.0027722
 0.         0.         0.0061857  0.         0.00229776 0.
 0.         0.00514219 0.         0.         0.         0.00631281
 0.         0.         0.         0.         0.         0.00926157
 0.         0.         0.00289358 0.         0.         0.0036906
 0.         0.         0.00169205 0.         0.0510609  0.08461046]